# 두수의 합 구하기

In [1]:
a = 20
b = 30
c = a+b
print(c)

50

In [5]:
# 정수형
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [3]:
type(x)

int

In [6]:
# 실수형
x = 3.3764
y = 6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [8]:
type(x),type(y)

(float, float)

In [9]:
type(x)
type(y)

float

In [15]:
# 문자열
a = 'x'
b = "I am ok"
c = "안녕하세요"
d = "I'm ok"
print(a, b, c, d)
print(type(d))

x I am ok 안녕하세요 I'm ok
<class 'str'>

In [17]:
# 숫자와 문자열
a = 30
a, type(a)

(30, int)

In [18]:
b = '30'
b, type(b)

('30', str)

In [19]:
# 문자열의 인덱싱
str = "I am happy!"
str

'I am happy!'

In [20]:
str[0], str[0:3], str[5:]

('I', 'I a', 'happy!')

In [22]:
str[-1], str[-3:], str[-4:-2]

('!', 'py!', 'pp')

In [23]:
# Boolean
t = True
f = False
print(t, f)

True False

In [24]:
condition = 10 > 20
condition

False

In [25]:
type(condition)

bool

## 산술연산자

In [26]:
# 사칙연산
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

In [1]:
True+3

4

In [3]:
# 나머지와 몫
x = 10%3
y = 10//3
x,y

(1, 3)

In [4]:
9/3

3.0

In [5]:
9//3

3

In [7]:
# 거듭제곱
x = 2**3
x

8

In [8]:
2**-3

0.125

In [14]:
# 할당연산자
x=10
x+=20
x

30

# 문자열

In [16]:
# 문자열 반복
hello = '안녕'*5
hello

'안녕안녕안녕안녕안녕'

In [17]:
# 문자열 길이
len(hello)

10

In [18]:
len('나는 python을 좋아합니다.')

17

In [19]:
# 문자열 연결(concatanate)
name = '홍지수'
greet = name+'님 안녕하세요?'
greet

'홍지수님 안녕하세요?'

In [20]:
# 문자열 연결시 주의사항
eng=80
result='영어 점수'+eng+'점'
result

TypeError: can only concatenate str (not "int") to str

In [21]:
eng=70.3
result='영어 점수'+str(eng)+'점'
result

'영어 점수70.3점'

In [22]:
# 문자열 포맷팅
result = '영어점수 : %d점' %80
result

'영어점수 : 80점'

In [23]:
year=2020
month=8
day=27

date='%d-%02d-%02d'%(year,month,day)
date

'2020-08-27'

In [27]:
height=172.5
a='키는 %.2f입니다.' %height
a

'키는 172.50입니다.'

In [28]:
# format() 활용
name='황예린'
age=18

In [29]:
eyesight=1.2

a='이름: {}'.format(name)
b='나이: {}'.format(age)
c='시력: {}'.format(eyesight)
a,b,c

('이름: 황예린', '나이: 18', '시력: 1.2')

In [30]:
# 문자열 메소드
hello.count('안')

5

In [31]:
a.find('름')

1

In [32]:
a.find('나')

-1

In [33]:
names='김, 이, 박, 최, 정'
first_names=names.split(',')
first_names

['김', ' 이', ' 박', ' 최', ' 정']

In [34]:
names='김\t이\t박\t최\t정'
first_names=names.split('\t')
first_names

['김', '이', '박', '최', '정']

In [35]:
space=names.isspace()
space

False

# 실행결과 화면 출력

In [36]:
# 콤마
print(name, age, eyesight)

황예린 18 1.2

In [37]:
print(year, month, day)
print(year, month, day, sep='/')
print(year, month, day, sep='--')

2020 8 27
2020/8/27
2020--8--27

In [38]:
# end
print(name, age, eyesight)
print(year, month, day)

황예린 18 1.2
2020 8 27

In [39]:
print(name, age, eyesight, end="\n\n")
print(year, month, day)

황예린 18 1.2

2020 8 27

In [40]:
print(name, age, eyesight, end=' ')
print(year, month, day)

황예린 18 1.2 2020 8 27

In [41]:
print(year, month, day, sep='/', end=' ')
print(year, month, day, sep='--')

2020/8/27 2020--8--27

In [42]:
# position argument가 keyword argumesnt 보다 뒤에 나오면 에러가 발생
print(year, month, sep='--', day)

SyntaxError: positional argument follows keyword argument (<ipython-input-42-cb66d7b47391>, line 2)

# 주석문

In [43]:
# 한줄 짜리 주석문
cm = 2.54*inch  # 인치를 센티미터로 변환

NameError: name 'inch' is not defined

In [44]:
'''
이 사이에는 여러줄짜리 주석문이 올 수 있습니다.
프로그램명 : 두 수 더하기
'''

'\n이 사이에는 여러줄짜리 주석문이 올 수 있습니다.\n프로그램명 : 두 수 더하기\n'

In [45]:
print()

In [48]:
width = 10
height = 3
area = width*height/2

print('삼각형의 밑변 길이 :',width)
print('삼각형의 높이 :',height)
print('삼각형의 면적 :',area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [50]:
price=800
buy=3
pay=5000
change=pay-price*buy

print('물건가격:',price,'원')
print('구매개수:',buy,'개')
print('지불금액:',pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

In [53]:
x=20
y=4

x=y%x
print(x)

y-=x*2
print(x,y)

4
4 -4

In [2]:
name = '홍길동'
age = 30
height = 171.5

print('성:',name[0])
print('이름:',name[1:])
print('%s의 나이:%d세, 키:%dcm'%(name, age, height))

성: 홍
이름: 길동
홍길동의 나이:30세, 키:171cm

In [4]:
name=input('학생 이름을 입력하세요:')
kor=int(input('국어 성적을 입력하세요:'))
eng=int(input('영어 성적을 입력하세요:'))
math=int(input('수학 성적을 입력하세요:'))

total=kor+eng+math
avg=total/3

print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점'%(name, kor, eng, math, avg))

학생 이름을 입력하세요:황예린
국어 성적을 입력하세요:83
영어 성적을 입력하세요:85
수학 성적을 입력하세요:91
이름:황예린, 국어:83, 영어:85, 수학:91, 평균:86.3점