# 두수의 합 구하기

In [1]:
a = 20
b = 30
c = a+b
print(c)

50

In [5]:
# 정수형
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [3]:
type(x)

int

In [6]:
# 실수형
x = 3.3764
y = 6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [8]:
type(x),type(y)

(float, float)

In [9]:
type(x)
type(y)

float

In [15]:
# 문자열
a = 'x'
b = "I am ok"
c = "안녕하세요"
d = "I'm ok"
print(a, b, c, d)
print(type(d))

x I am ok 안녕하세요 I'm ok
<class 'str'>

In [17]:
# 숫자와 문자열
a = 30
a, type(a)

(30, int)

In [18]:
b = '30'
b, type(b)

('30', str)

In [19]:
# 문자열의 인덱싱
str = "I am happy!"
str

'I am happy!'

In [20]:
str[0], str[0:3], str[5:]

('I', 'I a', 'happy!')

In [22]:
str[-1], str[-3:], str[-4:-2]

('!', 'py!', 'pp')

In [23]:
# Boolean
t = True
f = False
print(t, f)

True False

In [24]:
condition = 10 > 20
condition

False

In [25]:
type(condition)

bool

## 산술연산자

In [26]:
# 사칙연산
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0