# Unit 10. 리스트와 튜플 사용하기

In [2]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [3]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [4]:
# 빈 리스트를 만들 때
empty_list = []
el = list()

In [6]:
# range (0~8까지)
range(9)

range(0, 9)

In [7]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
b = list(range(1,10))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
c = list(range(1,10,2))
c

[1, 3, 5, 7, 9]

In [10]:
d = list (range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# tuple (값이 바뀌면 안되는 곳에 사용 / const같은 느낌)
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [12]:
b = 23, 5, 32
b

(23, 5, 32)

In [13]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [14]:
person = 3
person      # 튜플의 내용은 변경이 불가하지만, 변수명은 사용이 가능한다.

3

In [15]:
# 한 개의 엘리먼트를 갖는 튜플
(38)  # 그냥 괄호에 하나의 엘리먼트만 쓰면 튜플이 아닌값이 출력된다.

38

In [16]:
(38, ) # 괄호 안에 엘리먼트와 , 를 함께쓰면 튜플로 결과값이 나오게된다.

(38,)

In [17]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
b = tuple(range(1,10))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
c = tuple(range(1,10,2))
c

(1, 3, 5, 7, 9)

In [20]:
d = tuple(range(10, 0, -1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [21]:
# List <--> Tuple (리스트와 튜플 변경)
tuple_a = tuple([1,2,3]) # 튜플을 리스트로
tuple_a

(1, 2, 3)

In [23]:
list_a = list((1,2,3)) # 리스트를 튜플로
list_a

[1, 2, 3]

In [24]:
list('Hello') #문자열이 들어온경우
              # (시퀀스 데이터 / for 반복문 사용가능 / 튜플 등도 해당됨)

['H', 'e', 'l', 'l', 'o']

In [25]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [26]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [27]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [30]:
x, y, z = 7, 8, 9
print (x, y, z)

7 8 9

In [31]:
# Swapping (값 변경)
x = 10
y = 20
x, y = y, x ## 포인트
print(x, y)

20 10

In [32]:
# 입력과 연계
x = input()  # input 안에 들어가는것은 숫자여도 문자열(str)로 받아진다.

10

In [34]:
print(x, int(10))

10 10

In [35]:
x = input().split() # string에 split을 쓰면 list 형식으로 변환된다. split(,)을 쓰면 공백이 아닌 ,으로 구분한다.

10 20 30

In [36]:
print(x)

['10', '20', '30']

In [38]:
# a와 b와 c에 각각 값을 집어넣기 (할당해줘야하는 값을 각각 적어주어야한다.)
a, b, c = map(int, ['10', '20', '30'])
print (a, b, c)

10 20 30

In [39]:
a, b, c = map(int, input('숫자 3개 입력> ').split())
print(a, b, c)

숫자 3개 입력> 10 20 30
10 20 30

In [40]:
# 파이썬스러운 코드 (리스트 표현식 / 리스트 컴플레션)
[int(i) for i in input('숫자 3개 입력> ').split()]

숫자 3개 입력> 10 20 30

[10, 20, 30]

In [41]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [50]:
a = tuple(range(-10, 10, int(input('숫자 입력> '))))
print(a)

숫자 입력> 3
(-10, -7, -4, -1, 2, 5, 8)