# Unit.11 시퀀스 자료형 활용하기

### 1) 공통기능

In [1]:
# 데이터가 들어있는지 확인 - in (True, False로 반환)
30 in [1, 2, 3]

False

In [2]:
30 in (10, 20, 30)

True

In [3]:
30 in range(30) #0~29까지의 범위

False

In [4]:
'a' in 'apple'

True

In [5]:
# 데이터가 들어있지 않은지 확인 - not in (True, False로 반환)
30 not in [1, 2, 3]

True

In [6]:
# 객체 연결하기 (+는 시퀀스 객체에서도 적용이 가능)
'Hello' + ' ' + 'Python'

'Hello Python'

In [7]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [8]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [9]:
# range에서는 객체 연결을 할 수 없다.
# range는 list 또는 tuple로 변경 후 사용가능
range(10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [10]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
# 시퀀스 객체 반복하기
'hello ' * 3

'hello hello hello '

In [14]:
list((1, 2, 3)) * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
(4, 5, 6) *3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [16]:
range(5) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [17]:
list(range(5)) * 3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [18]:
# 문자열과 정수(실수) 연결하기 (숫자를 문자열로 변경해야한다.)
'hello ' + 10

TypeError: can only concatenate str (not "int") to str

In [19]:
'hello ' + str(10)

'hello 10'

### 2) 갯수 구하기

In [20]:
# 함수 len을 사용하여 구할 수 있다.
len('hello')

5

In [22]:
len([1, 2, 3])

3

In [23]:
len((4, 5, 6))

3

In [24]:
len(range(5))

5

In [25]:
# 1에서부터 100까지 홀수 구하기
len(range(1, 100, 2))

50

In [26]:
len('안녕하세요')

5

In [27]:
# utf-8로 인코드했을때 몇 개의 byte가 나오는지
len('안녕하세요'.encode('utf-8'))

15

In [28]:
# 안녕하세요의 초성/중성/종성 구하기 (헥사값#)
'안녕하세요'.encode('utf-8')

b'\xec\x95\x88\xeb\x85\x95\xed\x95\x98\xec\x84\xb8\xec\x9a\x94'

In [30]:
# 안녕하세요의 초성
x = '안녕하세요'.encode('utf-8')
x[::3]

b'\xec\xeb\xed\xec\xec'

In [32]:
# 안녕하세요의 중성
x[1::3]

b'\x95\x85\x95\x84\x9a'

In [33]:
# 안녕하세요의 종성
x[2::3]

b'\x88\x95\x98\xb8\x94'

### 인덱싱

In [34]:
list_a = [11, 22, 33, 44, 55]
list_a[0]

11

In [35]:
tuple_a = (11, 22, 33, 44, 55)
tuple_a[4]

55

In [36]:
hello = 'Hello, world!'
hello[7]

'w'

In [37]:
hello[-1]  # 맨 끝 인덱스

'!'

In [38]:
hello[len(hello)-1] # 마지막 인덱스 구하기 (복잡한 버전)

'!'

In [39]:
tuple_a[-2]

44

In [40]:
list_a[-3]

33

In [41]:
tuple_a[5] # 해당 인덱스가 배열에 없는 경우 발생됨
           # 나중에 예외처리로 진행(에러가 나서 프로그램이 down되지 않도록)

IndexError: tuple index out of range

In [42]:
# 값 할당
list_a[-1] = 66
list_a

[11, 22, 33, 44, 66]

In [43]:
tuple_a[-1] = 66
tuple_a

TypeError: 'tuple' object does not support item assignment

In [46]:
hello[-1] = '^'
hello          # 튜플, range, 문자열은 읽기만 가능 (추가 및 삭제 불가)

TypeError: 'str' object does not support item assignment

In [47]:
# 인덱스 요소 삭제(delete)
del list_a[-1]
list_a

[11, 22, 33, 44]

In [48]:
del tuple_a[-1]
tuple_a

TypeError: 'tuple' object doesn't support item deletion

### Slice

In [49]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [50]:
a[0:-1:2] # 0에서부터 끝까지중에 하나씩 건너뛰며 체크

[0, 20, 40, 60, 80]

In [51]:
a[::2]

[0, 20, 40, 60, 80]

In [52]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [54]:
a[4:8]

[40, 50, 60, 70]

In [55]:
a[6:3:-1] #거꾸로 갖고오고싶으면 -1 적기

[60, 50, 40]

In [56]:
a[6:3]

[]

In [57]:
a[1:-1:2]

[10, 30, 50, 70]

In [58]:
a[1:len(a):2] # 끝을 지정하면 마지막 element가 안나오기때문에, a의 길이(10)을 구하여 마지막 element도 나올 수 있도록 한다.

[10, 30, 50, 70, 90]

In [59]:
# NodeJS : hello.substring(2, 9)과 동일
hello[2:9]

'llo, wo'

In [61]:
# 슬라이스 요소에 값 할당하기
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [62]:
a[3:6] = ['30', '40', '50']
a

[0, 10, 20, '30', '40', '50', 60, 70, 80, 90]

In [64]:
# 그냥 79로는 기재가 되지 않는다.
# 많은 배열을 하나로 뭉쳐 바꿀 수 있다.
a[7:9] = (79, )
a

[0, 10, 20, '30', '40', '50', 60, 79, 90]

In [65]:
# 배열보다 값을 많이 주어도, 해당 자리에 값이 모두 들어가게 된다.
a[1:2] = [1,2,3]
a

[0, 1, 2, 3, 20, '30', '40', '50', 60, 79, 90]

In [67]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b', 'c']
a

[10, 20, 'a', 40, 'b', 60, 'c', 80, 90]

In [68]:
# del로 슬라이스 삭제하기
del a[2:8:2]
a

[10, 20, 40, 60, 80, 90]

In [69]:
m = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
m

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [70]:
m[1][2]

7

In [76]:
m[0:3][1]

[5, 6, 7, 8]

In [77]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
 
print(year[5:])
print(population[5:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [79]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [94]:
a = input()
b = input()
print(a[1::2] + b[0::2])

apple
strawberry
plsrwer

In [95]:
print('Hello, world!')
print('Python Programming')

Hello, world!
Python Programming

In [96]:
print(7 + (10 - 5) * 2)

17

In [97]:
 AP * 0.6 + 225

7

In [98]:
print(102 * 0.6 + 225)

286.2

In [100]:
a, b, c = map(int, input('정수를 입력하세요> ').split())
print(a + b + c)

정수를 입력하세요> -10 20 30
40

In [102]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end='')
print(hour, minute, second, sep=':')

2000/10/2711:43:59

In [3]:
a = [1, 2, 3, 4, 5, 6, 7]
a[1::2]

[2, 4, 6]