# Unit 19. 계단식으로 별 중첩하기

### 중첩 루프

In [3]:
# 반복문 바깥쪽과 안쪽의 차이
for i in range(5):
    for k in range(5):
        print('k:', k, sep='', end=' ')
    print('i:', i, '\\n', sep='')

k:0 k:1 k:2 k:3 k:4 i:0\n
k:0 k:1 k:2 k:3 k:4 i:1\n
k:0 k:1 k:2 k:3 k:4 i:2\n
k:0 k:1 k:2 k:3 k:4 i:3\n
k:0 k:1 k:2 k:3 k:4 i:4\n

In [4]:
for i in range(5):
    for k in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [8]:
# 1사분면
for i in range(1,6):
    for k in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [9]:
# 2사분면
for i in range(5):
    for k in range(4-i):
        print(' ', end='')
    for k in range(i+1):
        print('*', end='')
    print()

    *
   **
  ***
 ****
*****

In [11]:
# 3사분면
for i in range(5):
    for k in range(i):
        print(' ', end='')
    for k in range(5-i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****

In [12]:
# 4사분면
for i in range(5):
    for k in range(5-i):
        print('*', end='')
    for k in range(i):
        print(' ', end='')
    print()

*****
****
***
**
*

In [39]:
# 산그리기
for i in range(4):
    for k in range(3-i):
        print(' ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()

   *
  ***
 *****
*******

In [1]:
# 다이아몬드
for i in range(4):
    for k in range(3-i):
        print(' ', end='')
    for k in range(2*i+1):
        print('*', end='')
    print()
for i in range(3, 0, -1):
    for k in range(4-i):
        print(' ', end='')
    for k in range(i*2-1):
        print('*', end='')
    print()

   *
  ***
 *****
*******
 *****
  ***
   *