# Unit 24. 문자열 응용하기

In [1]:
# 문자열 바꾸기 (replace)
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [4]:
# replace는 바뀐 결과를 보여주는것뿐이며,
# 바뀐 결과를 넣고싶은경우에는 x=x.replace...가 들어가야한다.
# x=부분이 없으면 바뀌지 않는다.
s = 'Hello, world!'
s.replace('world', 'Python')
s

'Hello, world!'

In [5]:
s = s.replace('world', 'Python')
s

'Hello, Python!'

In [6]:
# 문자 바꾸기
# 매핑을 할 수 있는 테이블을 만든 후, 메소드로 변환을 한다.
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [7]:
# 문자열 분리하기 (split)
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [9]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [10]:
# 문자열 리스트 연결하기 변수명 = '연결방법'.join(리스트)
fruits = ' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])
fruits

'apple pear grape pineapple orange'

In [11]:
# 대소문자 변경
'python'.upper()

'PYTHON'

In [12]:
'PYTHON'.lower()

'python'

In [13]:
# 공백 삭제(왼쪽)
'   Python   '.lstrip()

'Python   '

In [14]:
# 공백 삭제(오른쪽)
'   Python   '.rstrip()

'   Python'

In [15]:
# 공백 삭제(전체)
'   Python   '.strip()

'Python'

In [16]:
#원하는 문자 삭제(strip 안에 삭제를 원하는 문자열 넣기)
'+-,   Python.'.strip('+-,. ')

'Python'

In [17]:
# 구둣점 삭제
# string.punctuation안에는 다양한 문자들이 들어가있어
# 문자 삭제를 원하는경우 문자.strip(string.punctuation)을 사용하면 모두 없어짐
# 공백은 삭제가 되지 않으니, 공백은 추가로 삭제필요
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [18]:
# string.punctuation만 사용
'+-,   Python.'.strip(string.punctuation)

'   Python'

In [19]:
# string.punctuation+공백제거
'+-,   Python.'.strip(string.punctuation + ' ')

'Python'

In [20]:
# 메소드 체이닝을 사용한 공백 제거
'+-,   Python.'.strip(string.punctuation).strip()

'Python'

In [21]:
# 왼쪽정렬 (just 안에 넣은 글자수만큼의 정렬. 빈곳은 공백으로 채워짐)
'python'.ljust(10)

'python    '

In [22]:
# 오른쪽정렬
'python'.rjust(10)

'    python'

In [23]:
# 가운데정렬 (center)
'python'.center(10)

'  python  '

In [26]:
# 0채우기 / 시간 또는 날짜를 채울때에 유용하게 사용 할 수 있다.
# zfill의 숫자와 적힌 숫자가 동일하다면, 적힌 숫자가 그대로 적힌다.
'35'.zfill(4)

'0035'

In [27]:
# 문자열 위치 찾기 / 제일 앞의것만 나온다.
'apple pineapple'.find('pl')

2

In [28]:
# 문자열 위치 찾기 / 오른쪽에서부터 문자열 찾기
# js의 indexOf와 동일
'apple pineapple'.rfind('pl')

12

In [29]:
# 없는 문자열을 찾는경우 / -1반환
'apple pineapple'.find('xy')

-1

In [30]:
# index로 문자열 위치 찾기
'apple pineapple'.index('pl')

2

In [31]:
# index로 문자열 위치 찾기 / 오른쪽부터
'apple pineapple'.rindex('pl')

12

In [32]:
# 갯수 세기
'apple pineapple'.count('pl')

2

### 포맷팅

In [33]:
# 천단위에 , 찍기
format(1493500, ',')

'1,493,500'