# Unit 26. 세트 사용하기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
type(fruits)

set

In [2]:
# set는 집합의 의미로, 동일한 값이 들어 갈 수 없다.
# 출력되는 순서 또한 보장이 되지 않는다.
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [3]:
# 출력되는 순서가 보장되지 않기 때문에, 값을 지정하여 출력 할 수 없다.
fruits[0]

TypeError: 'set' object is not subscriptable

In [4]:
# 세트 안에 특정값은 확인이 가능하다.
'orange' in fruits

True

In [5]:
'peach' in fruits

False

In [6]:
# set 생성
# apple을 원소로 갖는 세트를 만들기 위해서는 a=set{'apple'}형식으로 만들어야한다.
a = set('apple')    # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [7]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [9]:
# 빈 세트 만들기
c = set()
c

set()

In [10]:
h = set('안녕하세요')
h

{'녕', '세', '안', '요', '하'}

### 집합 연산

In [12]:
# union(합집합)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b

{1, 2, 3, 4, 5, 6}

In [13]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [14]:
# intersection(교집합)
a & b

{3, 4}

In [15]:
a.intersection(b)

{3, 4}

In [16]:
#difference(차집합)
a - b

{1, 2}

In [17]:
a.difference(b)

{1, 2}

In [18]:
#symmetric_difference(대칭자집합)
a ^ b

{1, 2, 5, 6}

In [20]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [21]:
# 집합연산 후 할당연산자
# union(합집합)
a |= {5}
a

{1, 2, 3, 4, 5}

In [22]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [23]:
# intersection(교집합)
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [24]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [25]:
# difference(차집합)
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [26]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [27]:
# 현재 세트가 다른 세트보다 적은경우 (두 세트가 같은경우도 참)
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [28]:
a.issubset({1, 2, 3, 4, 5})

True

In [29]:
# 현재 세트가 다른 세트보다 많은경우 (두 세트가 같은경우도 참)
a.issuperset({1, 2, 3, 4})

True

In [30]:
# 집합은 순서와 상관없이 동일한 엘리먼트가 있어도 등호확인이 가능하다.
a == {4, 2, 1, 3}

True

In [31]:
# 세트가 겹치는지 확인 (겹치는 요소가 없으면 True)
a.isdisjoint({5, 6, 7, 8})

True

In [33]:
a.add(5)  # a|=5 또는 a.update({5})와 동일
a

{1, 2, 3, 4, 5}

In [34]:
# 요소 삭제
a.remove(3)
a

{1, 2, 4, 5}

In [35]:
# 없는 요소를 삭제하는경우, keyError가 표시된다.
a.remove(9)
a

KeyError: 9

In [37]:
# discard = 있으면 지워주고, 없어도 동작한다.(에러가 발생되지 않음)
a.discard(2)
a

{1, 4, 5}

In [38]:
a.discard(6)
a

{1, 4, 5}

In [39]:
# 임의의 요소 삭제 (뭐가 삭제될지 모름)
a = {1, 2, 3, 4}
a.pop()
a

{2, 3, 4}

In [41]:
# 모든 요소 삭제
a.clear()
a

set()

In [43]:
# 세트 개수 확인하기
a = {1, 2, 3, 4}
len(a)

4

In [44]:
# 세트의 할당과 복사(이전과 비슷)
# 세트는 중첩이 되지 않아, deepcopy는 없다.
a = {1, 2, 3, 4}
a = b
b

{3, 4, 5, 6}

In [47]:
b.add(5)
a

{1, 2, 3, 4}

In [46]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

### 반복문으로 세트의 요소 출력

In [50]:
# 숫자로 이루어진 순서는 오름차순 정렬되며, 그 외에는 랜덤으로 출력된다.
a = {4, 3, 2, 1}
for i in a:
    print(i)

1
2
3
4

### 세트 표현식

In [51]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [52]:
# 파인애플의 단어 속 apl 외의 단어를 표시
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}